.ready {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  text-align: top;
}

.button {
  border: 2px solid #fff; /* White border */
  background-color: transparent;
  color: #fff; /* Text color */
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white on hover */
  color: #000; /* Text color on hover */
}


.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFD700;
  color: white;
}


.box {
  border: 1px solid transparent;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #dddddd; /* Light color for the text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box:hover {
  border-color: #333; /* Dark color for border on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Dark clear background on hover */
}

body {
  display: block;
  min-height: 100vh;
  margin: 0;
  background-color: #30475e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23222831' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Arial', sans-serif; 
}

.wrapper {
  
  text-align: center;
  align-content: center;
  
}

.chall {
  box-shadow: inset 0 0 0 0 #FFD700;
  color: #ffffff;
  font-size: 20px;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration-line: underline;
}


.chall:hover {
  box-shadow: inset 5000px 0 0 0 #FFD700;
  color: white;
}

ul{
  padding-left: 0;
  list-style-position: inside;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: hotpink;
}
